<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %}
    看到ㄉ植
{% endblock %}
<!--Nav setting-->
{% block navigation %}
{% import 'macros/nav.html' as nav %}
<!-- Set navitem to active -->
{{nav.active('plant')}}
{% endblock %}

<!-- 內容 -->
{% block content %}
<div class="container page-wrap">
    <div class="row">
        <div class="col-md-8">
            <h3 class="mb-3 main-color01"><i class="fas fa-seedling me-2"></i>看到ㄉ植</h3>
            <ul class="nav nav-pills plant-tabs" id="pills-tab" role="tablist">
                <li class="nav-item herb" role="presentation">
                  <button class="nav-link active" id="pills-herb-tab" data-bs-toggle="pill" data-bs-target="#pills-herb" type="button" role="tab" aria-controls="pills-herb" aria-selected="true">草</button>
                </li>
                <li class="nav-item woody" role="presentation">
                  <button class="nav-link" id="pills-woody-tab" data-bs-toggle="pill" data-bs-target="#pills-woody" type="button" role="tab" aria-controls="pills-woody" aria-selected="false">木</button>
                </li>
                <li class="nav-item vine" role="presentation">
                  <button class="nav-link" id="pills-vine-tab" data-bs-toggle="pill" data-bs-target="#pills-vine" type="button" role="tab" aria-controls="pills-vine" aria-selected="false">藤</button>
                </li>
            </ul>
            <div class="tab-content plant-content" id="pills-tabContent">
                <div class="tab-pane herb fade show active" id="pills-herb" role="tabpanel" aria-labelledby="pills-herb-tab" tabindex="0">
                    <h6>植物體柔軟，莖內的木質部不發達，沒有形成層。依葉脈的不同可分為單子葉草本、雙子葉草本及草質藤本。</h6>
                    <div class="d-flex align-items-start plant-family">
                        <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <button class="nav-link active" id="v-pills-family1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family1" type="button" role="tab" aria-controls="v-pills-family1" aria-selected="true">豆科</button>
                          <button class="nav-link" id="v-pills-family2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family2" type="button" role="tab" aria-controls="v-pills-family2" aria-selected="false">莧科</button>
                          <button class="nav-link" id="v-pills-family3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family3" type="button" role="tab" aria-controls="v-pills-family3" aria-selected="false">芸香科</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-family1" role="tabpanel" aria-labelledby="v-pills-family1-tab" tabindex="0">
                            <div class="row py-3 pe-3 ps-md-3">
                                <div class="col-md-4 col-6 plant-block" data-bs-toggle="modal" data-bs-target="#herb1Modal"> 
                                    <div class="plant-name">破布子</div>
                                    <img src="images/plant/herb1.jpg" class="img-fluid" alt="">
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="herb1Modal" tabindex="-1" aria-labelledby="herb1ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                            herb1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-6 plant-block" data-bs-toggle="modal" data-bs-target="#herb2Modal">
                                    <div class="plant-name">sdfsdf</div>
                                    <img src="images/plant/herb2.jpg" alt="" class="img-fluid">
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="herb2Modal" tabindex="-1" aria-labelledby="herb2ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                            herb2
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-family2" role="tabpanel" aria-labelledby="v-pills-family2-tab" tabindex="0">科2</div>
                          <div class="tab-pane fade" id="v-pills-family3" role="tabpanel" aria-labelledby="v-pills-family3-tab" tabindex="0">科3</div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane woody fade" id="pills-woody" role="tabpanel" aria-labelledby="pills-woody-tab" tabindex="0">
                    <h6>植物體柔軟，莖內的木質部不發達，沒有形成層。依葉脈的不同可分為單子葉草本、雙子葉草本及草質藤本。</h6>
                    <div class="d-flex align-items-start plant-family">
                        <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <button class="nav-link active" id="v-pills-family1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family1" type="button" role="tab" aria-controls="v-pills-family1" aria-selected="true">豆科</button>
                          <button class="nav-link" id="v-pills-family2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family2" type="button" role="tab" aria-controls="v-pills-family2" aria-selected="false">莧科</button>
                          <button class="nav-link" id="v-pills-family3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family3" type="button" role="tab" aria-controls="v-pills-family3" aria-selected="false">芸香科</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-family1" role="tabpanel" aria-labelledby="v-pills-family1-tab" tabindex="0">
                            <div class="row py-3 pe-3 ps-md-3">
                                <div class="col-md-4 col-6 plant-block" data-bs-toggle="modal" data-bs-target="#woody1Modal"> 
                                    <div class="plant-name">破布子</div>
                                    <img src="images/plant/woody1.jpg" class="img-fluid" alt="">
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="woody1Modal" tabindex="-1" aria-labelledby="woody1ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                            woody1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-family2" role="tabpanel" aria-labelledby="v-pills-family2-tab" tabindex="0">...</div>
                          <div class="tab-pane fade" id="v-pills-family3" role="tabpanel" aria-labelledby="v-pills-family3-tab" tabindex="0">...</div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane vine fade" id="pills-vine" role="tabpanel" aria-labelledby="pills-vine-tab" tabindex="0">
                    <h6>植物體柔軟，莖內的木質部不發達，沒有形成層。依葉脈的不同可分為單子葉草本、雙子葉草本及草質藤本。</h6>
                    <div class="d-flex align-items-start plant-family">
                        <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                          <button class="nav-link active" id="v-pills-family1-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family1" type="button" role="tab" aria-controls="v-pills-family1" aria-selected="true">豆科</button>
                          <button class="nav-link" id="v-pills-family2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family2" type="button" role="tab" aria-controls="v-pills-family2" aria-selected="false">莧科</button>
                          <button class="nav-link" id="v-pills-family3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-family3" type="button" role="tab" aria-controls="v-pills-family3" aria-selected="false">芸香科</button>
                        </div>
                        <div class="tab-content" id="v-pills-tabContent">
                          <div class="tab-pane fade show active" id="v-pills-family1" role="tabpanel" aria-labelledby="v-pills-family1-tab" tabindex="0">
                            <div class="row py-3 pe-3 ps-md-3">
                                <div class="col-md-4 col-6 plant-block" data-bs-toggle="modal" data-bs-target="#vine1Modal"> 
                                    <div class="plant-name">破布子</div>
                                    <img src="images/plant/vine1.jpg" class="img-fluid" alt="">
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="vine1Modal" tabindex="-1" aria-labelledby="vine1ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                            vine1
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="v-pills-family2" role="tabpanel" aria-labelledby="v-pills-family2-tab" tabindex="0">...</div>
                          <div class="tab-pane fade" id="v-pills-family3" role="tabpanel" aria-labelledby="v-pills-family3-tab" tabindex="0">...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
<!-- 單獨引用 js 放置處 -->
{% block js %}
<!-- <script></script> -->
{% endblock %}