/// 共用樣式 /// 
@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

body {
    font-family: FakePearl-Regular;
    overflow-x: hidden;
    background-color: #ffffff;
}

main {
    min-height: 70vh;
	position: relative; 
    overflow-x: hidden;
}

.page-wrap {
    margin-top: 4rem;
    min-height: 70vh;
}

ul.classify-tabs {
    display: flex;
    justify-content: flex-end;
    margin-top: -40px;
    @include media-breakpoint-down(md) {
        margin-top: -15px;
    }
    li.nav-item {
        button {
            background-color: $main-color02-light;
            color: #fff;
            width: 80px;
            height: 40px;
            border-radius: 100px 100px 0 0;
            position: relative;
            line-height: 35px;
            transition: .3s;
            &:hover {
                background-color: darken($main-color02-light, 10%);
            }
        }
        &.herb button.active {
            background-color: $herb;
        }
        &.woody button.active {
            background-color: $woody;
        }
        &.vine button.active {
            background-color: $vine;
        }
        &.anura button.active {
            background-color: $anura;
        }
        &.odonata button.active {
            background-color: $odonata;
        }
        &.spider button.active {
            background-color: $spider;
        }
    }
}

.classify-content {
    background-color: $main-color01-light;
    border-radius: 50px 10px 10px 10px;
    box-shadow: $custom-box-shadow;
    .tab-pane  {
        .summary {
            line-height: 1.25;
        }
        h6 {
            color: #fff;
            width: 100%;
            border-top-left-radius: 50px;
            padding: 1rem 1.5rem;
            text-align: center;
            @include media-breakpoint-down(md) {
                text-align: left;
                border-top-left-radius: 16px;
                padding: .75rem 1rem;
            }
        }
        &.herb {
            h6 {
                background-color: $main-color02;
            }
            .classify-family button.active::before {
                background-color: $main-color02;
            }
        } 
        &.woody { 
            h6 {
                background-color: $woody;
            }
            .classify-family button.active::before {
                background-color: $woody;
            }
        }
        &.vine { 
            h6 {
                background-color: $vine;
            }
            .classify-family button.active::before {
                background-color: $vine;
            }
        }
        &.anura { 
            h6 {
                background-color: $anura;
            }
            .classify-family button.active::before {
                background-color: $anura;
            }
        }
        &.odonata { 
            h6 {
                background-color: $odonata;
            }
            .classify-family button.active::before {
                background-color: $odonata;
            }
        }
        &.spider { 
            h6 {
                background-color: $spider;
            }
            .classify-family button.active::before {
                background-color: $spider;
            }
        }
        .classify-family {
            button.nav-link {
                color: $main-color01;
                white-space: nowrap;
                display: flex;
                align-items: center;
                &:before {
                    content: "";
                    clip-path: polygon(100% 50%, 0 0, 0 100%);
                    background-color: transparent;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin-left: -15px;
                    margin-right: .25rem;
                }
                &.active {
                    background-color: transparent;
                }
            }
            .tab-content {
                .tab-pane {
                    .classify-block {
                        position: relative;
                        text-align: center;
                        margin-bottom: 1rem;
                        transition: .3s;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                    .classify-name {
                        background-color: $main-color01;
                        color: #fff;
                        padding: .25rem 1.25rem;
                        border-radius: 20px;
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: -0.75rem;
                        border: 1px solid #fff;
                        box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.30);
                        @include media-breakpoint-down(md) {
                            padding: .25rem .75rem;
                        }
                    }
                    img {
                        border-radius: 40px 10px 10px 10px;
                        border: 2px solid #fff;
                        box-shadow: $custom-box-shadow;
                    }
                }
            }
        }
    }
}
.note {
    cursor: pointer;
    padding: 1rem;
    border-radius: $custom-border-radius;
    box-shadow: $custom-box-shadow;
    background: white;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    transition: .3s;
    &:hover {
        border-color: $main-color02;
        transform: scale(1.05);
    }
}