nav.navbar {
    background-color: $main-color01-light;
    position: relative;
    padding:  1rem 1rem 0 1rem;
    &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        background-color: $main-color01-light;
        height: 100px;
        width: 120%;
        content: "";
        display: block; 
        border-radius: 50%;
        z-index: -1;
    }
    ul.navbar-nav {
        li {
            a {
                transition: .3s;
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 3px;
                    background-color: transparent;
                    left: calc(50% + 8px + .25rem);
                    transform: translateX(-50%);
                    transition: .3s;
                    border-radius: 5px;
                }
                &:hover {
                    &:after {
                        width: 65px;
                        color: $main-color01;
                        background-color: $main-color02;
                    }
                }
                img {
                    margin-right: .25rem;
                }
            }
        }
    }
    .social {
        a {
            background-color: $main-color01;
            color: #fff;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            border-radius: 22px;
            display: inline-block;
            margin-left: .5rem;
            transition: .3s;
            &:hover {
                transform: scale(1.1);
                background-color: $main-color02;
            }
        }
    }
}