nav.navbar {
    background-color: $main-color01-light;
    position: relative;
    padding:  1rem 1rem 0 1rem;
    &:after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -40px;
        background-color: $main-color01-light;
        height: 100px;
        width: 120%;
        content: "";
        display: block; 
        border-radius: 50%;
        z-index: -1;
    }
    ul.navbar-nav {
        li {
            a {
                img {
                    margin-right: .25rem;
                }
            }
        }
    }
    .social {
        a {
            background-color: $main-color01;
            color: #fff;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            border-radius: 22px;
            display: inline-block;
            margin-left: .5rem;
        }
    }
}